.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-container > div {
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
}

.scrolling-frame {
    margin: auto;
    background: linear-gradient(to bottom right, #ffd6d67f 0%, #d4d4fe7f 50%, #d3fdd37f 100%);
    border: 3px solid rgb(128, 128, 128);
}

/* For encryption nodes */
.state-default {
    background-color: #d3fdd3;
}
.state-disabled {
    background-color: #f2f2f2;
}
.state-breakpoint {
    background-color: #ffd6d6;
}

.transparent {
    background-color: transparent;
    border: none;
}

.node-disabled-state {
    background: url('../assets/images/disable.png') no-repeat top center;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.node-breakpoint-state {
    background: url('../assets/images/breakpoint.png') no-repeat top center;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.state-pressed {
    background-color: #6bb0ffb0;
    background-blend-mode: color-burn;
}

/* HTML elements */
button {
    cursor: pointer;
}
textarea {
    resize: none;
    font-family: 'Fira Mono', Menlo, 'Courier New', Courier, Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 12px;
}
